<div class="form-wrapper">
  <%= simple_form_for @post, html: { class: 'form-horizontal', multipart: true } do |post| %>
    <div class="form-group">
      <div class="image center-block">
        <%= image_tag @post.image.url(:medium) %>
      </div>
      <%= post.input :image %>
    </div>
    <div class="form-group text-center">
      <%= post.input :caption %>
    </div>
    <div class="form-group text-center">
      <%= post.button :submit, class: 'btn-success' %>
    </div>
  <% end %>
</div>
